<form id="roomForm">
    <input type="text" name="id" placeholder="Room name">
    <input type="password" name="password" placeholder="Password">
    <input type="button" id="button" name="button" value="Create">
    <input type="button" id="buttonRm" name="button" value="RemoveRoom">
</form>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>