/* Space out content a bit */
body {
	background: #1d1d1d;
  padding-top: 50px;
  padding-bottom: 20px;
	color: #fff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */

._header .header{
	padding: 10px 0;
}

.header, .jumbotron{
	background: transparent;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
	line-height: 100px;
	float: left;
	font-size: 40px;
	text-align: center;
}

.header{
	height: 100px;
	background: url(/img/logo/mini_logo.png) no-repeat center;
}

._marketing{
	background: #303030;
}

/* Serach Room Style */
#results{
	height: 300px;
	/*padding: 15px;*/
	background: #1d1d1d;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #000;
	overflow-y: scroll;
}

#results .list{
	background: #fff;
	width: 100%;
	height: 41px;
	padding: 0 0 10px 0px;
	border: 1px solid #d5d5d5;
	line-height: 41px;
	border-top: 0;
	border-left: 0;
	margin: 0;
	font-weight: bold;
}

#results .list a{
	color: #303030;
	font-size: 20px;
}
#results .list a .num{
	background: url(/img/icon_group.png) no-repeat, #1d1d1d;
	float: left;
	width: 41px;
	height: 41px;
	border-bottom: 1px solid #000;
	margin-right: 10px;
	position: relative;
}

#results .list a .num span{
	background: #73a53e;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	display: table;
	height: 1px;
	position: absolute;
	top: 3px;
	left: 9px;
	padding: 1px;
	line-height: 1;
	border-radius: 2px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
