/* Space out content a bit */
body {
	background: #1d1d1d;
  padding-top: 30px;
  padding-bottom: 20px;
	color: #fff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */

._header .header{
	padding: 10px 0;
}

.header, .jumbotron{
	background: transparent;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
	line-height: 100px;
	float: left;
	font-size: 40px;
	text-align: center;
}

.header{
	height: 202px;
	background: url(/img/logo/mini_logo.png) no-repeat center;
}

._marketing{
	background: #303030;
	box-shadow: 0 0 1px #000;
}

/* Serach Room Style */
#results{
	height: 200px;
	background: #1d1d1d;
	border-radius: 3px;
	border: 1px solid #1d1d1d;
	overflow-y: scroll;
}

#results::-webkit-scrollbar{
	width: 0.6em;
	background: #fff;
	border-radius: 3px;
}

#results::-webkit-scrollbar-thumb{
	background: #aaa;
	border-radius: 3px;
}

#results .list{
	background: #1d1d1d;
	width: 100%;
	height: 31px;
	padding: 0 0 10px 10px;
	border-bottom: 1px solid #303030;
	line-height: 31px;
	margin: 0;
	font-weight: bold;
}

#results .list a{
	color: #FFF;
	font-size: 14px;
}

#results .list a span::before{
	content: url(/img/icon_group.png) 0 0 no-repeat;
	position: absolute;
	left:  5px;
	top: 0pc;
}

#results .list a span{
	color: #FFF;
	font-size: 11px;
	text-align: center;
	background: #47a447;
	float: right;
	width: 51px;
	height: 21px;
	padding-left: 15px;
	padding-bottom: 10px;
	border-radius: 3px;
	margin-top: 4px;
	line-height: 22px;
	font-weight: bold;
	margin-right: 10px;
	position: relative;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.footer p{
	width: 100%;
	text-align: center;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.btn-submit{
	background-color: #80bd01 !important;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 10px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
