<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Node Planning Room</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container-fluid">
      <div class="_header container-fluid">
				<div class="header container">
					<h3 class="text-muted logo"></h3>
					<!--<h3 class="col-lg-8">Node Planning Room</h3>-->
				</div>
      </div>

      <div class="_jumbotron container-fluid">
				<div class="jumbotron container">
					<h1>Node Planning Room</h1>
					<p class="lead">Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. </p>
				</div>
			</div>
			
			<div class="_marketing container-fluid">
				<div class="container">					
					<div class="col-lg-6" id="searchRoom">
						<h3>Search room</h3>
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<div class="col-sm-12">
									<input type="text" class="form-control" id="inputRoomName" placeholder="Room Name">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<div id="results">
										<p class="list">
											<a href="#">vidis litro<span>222</span></a>
										</p>
										<p class="list">
											<a href="#">vidis litro<span>222</span></a>
										</p>
										<p class="list">
											<a href="#">vidis litro<span>222</span></a>
										</p>
										<p class="list">
											<a href="#">vidis litro<span>222</span></a>
										</p>
										<p class="list">
											<a href="#">vidis litro<span>222</span></a>
										</p>
										<p class="list">
											<a href="#">vidis litro<span>222</span></a>
										</p>
										<p class="list">
											<a href="#">vidis litro<span>222</span></a>
										</p>
										<p class="list">
											<a href="#">vidis litro<span>222</span></a>
										</p>
										<p class="list">
											<a href="#">vidis litro<span>222</span></a>
										</p>
										<p class="list">
											<a href="#">vidis litro<span>222</span></a>
										</p>
										<p class="list">
											<a href="#">vidis litro<span>222</span></a>
										</p>
										<p class="list">
											<a href="#">vidis litro<span>222</span></a>
										</p>
										<p class="list">
											<a href="#">vidis litro<span>222</span></a>
										</p>
										<p class="list">
											<a href="#">vidis litro<span>222</span></a>
										</p>
										<p class="list">
											<a href="#">vidis litro<span>222</span></a>
										</p>
									</div>
								</div>
							</div>
						</form>
					</div>
					
					<div class="col-lg-6">
						<h3>Create a new room</h3>
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<div class="col-sm-12">
									<input type="text" class="form-control" id="inputRoomName" placeholder="Room Name">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									 <button type="submit" class="btn btn-default btn-success">Create</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
      
			<div class="_ footer container-fluid">
				<div class="footer container">
					<p>&copy; Company 2014</p>
				</div>
			</div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
